.block
    position: relative
    padding-top: 30px
    min-height: 500px
    padding-bottom: 40px
    background: #35AFBF
    &__container
    &__body
        display: flex
        justify-content: space-between
    &__X
        font-size: 30px
        span
            font-size: 30px
            font-weight: 600
    &__Y
        font-size: 30px
        span
            font-size: 30px
            font-weight: 600
    &__move
        position: absolute
        left: 0
        top: 0
        width: 20px
        height: 20px 
        background: #e17272